<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>登录失败！</title>

	<!--- CSS --->
	<link rel="stylesheet" href="images/css/style.css" type="text/css" />

	</head>

	<body>
		<div id="container">
			<div class="welcome">
				<div class="welcome-user">后台登录失败！</div>
				<div class="welcome-text">后台登录失败，有可能是您的账号/密码输入不正确导致，注意区分大小写，不是本站管理人员请选择其他方式登陆。</div>
				<div class="home"><a href="javascript:history.go(-1)">返回</a></div>
			</div>
		</div>
		
	</body>
</html>
